@use "sass:map";

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;700&display=swap');

// fonts variables
$Monoton-font: "monoton", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$Mukta-font: "Mukta";

// color variables
$logo-color: #0062ff;
$bs-white-color: #ececec;

// maps variables